In [55]:
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data

   whoAmI
0   human
1   human
2   robot
3   robot
4   robot
5   robot
6   robot
7   human
8   human
9   robot
10  robot
11  human
12  robot
13  human
14  human
15  robot
16  human
17  human
18  robot
19  human

In [56]:
set_with_namws_of_columns = list(set(lst))
dictionary_for_data_frame = {set_with_namws_of_columns[0]: [True if i == set_with_namws_of_columns[0] else False for i in lst], 
                             set_with_namws_of_columns[1]: [True if i == set_with_namws_of_columns[1] else False for i in lst]}
dummies = pd.DataFrame(dictionary_for_data_frame)
dummies

    robot  human
0   False   True
1   False   True
2    True  False
3    True  False
4    True  False
5    True  False
6    True  False
7   False   True
8   False   True
9    True  False
10   True  False
11  False   True
12   True  False
13  False   True
14  False   True
15   True  False
16  False   True
17  False   True
18   True  False
19  False   True